/* Variáveis */

:root {
  --green-50: hsl(141deg 75% 90%);
  --green-100: hsl(141deg 75% 85%);
  --green-100-25: hsl(141deg 75% 80% / 25%);
  --green-200: hsl(141deg 75% 70%);
  --green-300: hsl(141deg 75% 60%);
  --green-400: hsl(141, 75%, 50%);
  --green-400-25: hsl(141deg 75% 50% / 25%);
  --green-500: hsl(141deg 75% 45%);
  --green-600: hsl(141deg 75% 35%);
  --green-700: hsl(141deg 75% 25%);
  --green-800: hsl(141deg 75% 15%);
  --green-800-85: hsl(141deg 75% 15% / 85%);
  --green-900: hsl(141deg 75% 10%);
  --green-950: hsl(141deg 75% 5%);
  --green-1000: hsl(141deg 75% 2.5%);
  --green-1000-50: hsl(141deg 75% 2.5% / 50%);

  --border-radius-xs: 5px;
  --border-radius-s: 10px;
  --border-radius-m: 15px;

  --container-margin: 0 8px 8px;
  --container-padding: 25px;

  --transition-function: ease;
  --transition-duration: 200ms;
  --transition-duration-slow: 400ms;
  --transition-function-duration: var(--transition-function)
    var(--transition-duration);
}

/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 120%;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a,
button {
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

#root {
  display: flex;
  flex-flow: column;
  min-height: 100svh;
  background-color: var(--green-1000);
  color: var(--green-50);
}
